<script setup lang="ts">
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>
<template>
  <v-container style="padding: 50px">
    <v-row>
      <v-col cols="6">
        <v-avatar
          image="https://lh3.googleusercontent.com/a/AEdFTp7dfalIpdXf9fqzcEHkCjoySj8ogU_OqKPYX2KJ=s288-p-rw-no"
          size="250"
        ></v-avatar>
      </v-col>
      <v-col cols="6" style="font-family: Segoe UI">
        <h1>Krissana Kasemsri</h1>
        <h2>นายกฤษณ เกษมศรี</h2>
        <v-divider></v-divider>
        <h3>Burapha University | Computer Science</h3>
      </v-col>
    </v-row>
  </v-container>

  <v-cotainer>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>ประวัติส่วนตัว</th>
              <th>ประวัติการศึกษา</th>
              <th>สิ่งที่สนใจ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ชื่อเล่น: นาย</td>
              <td>อนุบาล: โรงเรียนอนุบาลมารีรัก</td>
              <td>เกมส์</td>
            </tr>
            <tr>
              <td>วันเดือนปีเกิด: 7 พฤษภาคม 2544</td>
              <td>ประถม: โรงเรียนเทศบาลบ้านท้ายช้าง</td>
              <td>เพลง</td>
            </tr>
            <tr>
              <td>อายุ: 21 ปี</td>
              <td>มัธยม: โรงเรียนดีบุกพังงาวิทยายน</td>
              <td>อาหาร</td>
            </tr>
            <tr>
              <td>กรุ๊ปเลือด: O</td>
              <td>ปัจจุบัน: มหาวิทยาลัยบูรพา</td>
              <td>Java/Pyton/HTML/CSS/JS</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-cotainer>
</template>
